<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Automarket</title>
    <link rel="stylesheet" href="{% static 'styles/basestyles.css' %}"/>
</head>
<body>
    <header>
    {% block header %}
    {% endblock %}
    </header>
    <nav>
    {% block nav %}
        <p class="navigation">
            <a href="/carads/">CarAds</a>
            <a href="/categories/">Categories</a>
            <a href="/owners/">Owners</a>
        </p>
    {% endblock %}
    </nav>
    <article>
    {% block content %}
    {% endblock %}
    </article>
    <footer>
    {% block footer %}
    {% endblock %}
    </footer>
</body>
</html>