{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <h1>All categories:</h1>
       {% for category in categories %}
        <p>
            <lable>Title: </lable>
            <a href="/categories/{{category.id}}">{{category.title}}</a>
           <a href="/categories/delete/{{category.id}}" class="btn btn-default" role="button">Delete</a>
       </p>
        {% endfor %}
        <p><a href="/categories/create" class="btn btn-primary" role="button">Add</a></p>
    </div>
{% endblock %}